/* GENERAL, TOTAL DOCUMENT */
* {
  box-sizing: border-box;
}

/* variables for colors */
:root {
  --textcolor: #000000;
  --linkcolor: #587149;

  /* --backgroundcolor: #eaecde; */
  --backgroundcolor: #ffffff;
  --altbackgroundcolor: #d6d4c0;

  /* --content-width: 50vw; */
  --content-width: 650px;
}

/* font source */
@font-face {
    font-family: 'routerbook';
    src: url('../fonts/router-book.woff2') format('woff2'),
         url('../fonts/router-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lm mono';
    src: url('../fonts/lmmono.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'cutive mono';
    src: url('../fonts/cutive-mono.ttf') format('truetype');
    font-style: normal;
}

html {
  /* scroll-behavior: smooth; */
  font-size:.95rem;
}

body {
  margin: 0;
  background-color: var(--backgroundcolor);
  color: var(--textcolor);
  /* font-family: 'ms mincho', monospace; */
  /* font-family: 'qtlettergoth', monospace; */
  font-family: 'cutive mono', monospace;
  /* font-family: 'routerbook', monospace; */
  letter-spacing: -1px;
  line-height: 1.24rem;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
  width:100%;
  max-width: calc(var(--content-width));
  /* pointer-events: none; */
  padding:.3rem;
  margin:0 .5rem .5rem 0;
  background: var(--backgroundcolor);
}

img.active,
.gallery img.active
{
  max-width: calc(var(--content-width) * 2 + .3rem);
}

.gallery img {
  max-width: calc(var(--content-width) / 3 - .3rem);
}

.small {
  max-width: calc(var(--content-width) - .3rem);
  margin: 2rem .5rem 2rem 0 ;
}

.small.active {
  max-width: calc(var(--content-width));
}

.gallery {
  display: flex;
  flex-wrap:wrap;
  align-items: flex-start;
  max-width: calc(var(--content-width) + .6rem);
}

.gallery img {
  cursor:pointer;
}

/* TYPOGRAPHY, TEXT */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5rem 0;
  background: var(--backgroundcolor);
  display: inline-block;
  font-weight: normal;
  font-size: 1.2rem;
  padding:.3rem;
}

p {
  background: var(--backgroundcolor);
  max-width: var(--content-width);
  padding:.3rem;
  margin: 0 0 .5rem 0;
  /* border:1px solid var(--textcolor); */
}

a {
  color: var(--linkcolor);
}

summary {
  background: var(--backgroundcolor);
  margin-bottom: .5rem;
  cursor: pointer;
  /* max-width: 250px; */
  padding:.3rem;
  max-width: calc(var(--content-width));
}

/* details img {
  max-width: 250px;
} */

/* NAV */
/* styles for the nav buttons */
nav {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: fixed;
  right: .5rem;
  top: .5rem;
  z-index: 1;
}

nav a {
  background-color: var(--backgroundcolor);
  color: var(--textcolor);
  border: 1px solid;
  padding:.5rem;
  text-align: center;
  text-decoration: none;
}

/* SECTIONS */
section {
  border-bottom: 1px solid;
  padding: .5rem;
  padding-left: 2.4rem;
  min-height: 400px;
  position: relative;
}

section h1:first-of-type {
  height:100%;
  position: absolute;
  top:0;
  left:0;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  text-align: center;
  border-left: 1px solid;
  transform: rotate(180deg);
  font-size: .9rem;
}

/* mound header section */
#mound {
  padding:0;
  min-height:400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

svg {
  margin-bottom:60px;
  /* height:400px; */
}

.mound-svg{
  fill:none;
  stroke:var(--textcolor);
  stroke-miterlimit:1px;
  stroke-width: 1px;
}

/* other sections */
#s0, .s0 {
  background-image: url('../../img/hatches/2b.gif');
}

#s1, .s1 {
  background-image: url('../../img/hatches/4b.gif');

}

#s2, .s2 {
  background-image: url('../../img/hatches/10b.gif');
}

#bedrock, .bedrock {
  background-image: url('../../img/hatches/8b.gif');
}

/* #main {
  overflow:auto;
  height:100vh;
  width:100%;
  scroll-behavior:smooth;
} */

/* LAYOUT TESTS */

#s0 img {
  /* max-width: 250px; */
}

#s1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  min-height:100vh;
  padding: .5rem;
  padding-left: 2.4rem;
}

main#s1 {
  flex-wrap: wrap;
  display: block;
}

main h1:first-of-type {
  height:100vh;
  position: fixed;
  top:0;
  left:0;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  text-align: center;
  border-left: 1px solid;
  transform: rotate(180deg);
  font-size: .9rem;
}

.paypal-button {
  max-width: 250px;
}

.paypal-button .price {
  background: var(--backgroundcolor);
  padding:.3rem;
  margin-bottom: .5rem;
}
